:root{
 --primary-color: #880e4f;
 --right-color:  #ad1457;
 --shadow-color: rgba(0, 0, 0, 0.3)
}

.main{
  padding: 0;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}
.main h1{
  color: #444;
  text-align: center
}

.book__list{
  padding: 0;
}

.book__list li{
  display: inline-block;
  margin: 12px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  box-shadow: 1px 2px 3px var(--shadow-color);
  cursor: pointer;
  color: var(--primary-color)
}

form{
  background: #fff;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 400px;
}

form .field{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px
}

form label{
  text-align: right;
  padding: 6px;
}

form select, form input{
  margin: 4px;
  padding: 6px;
  box-sizing:border-box;
}

form button{
  color: #fff;
  font-size: 2rem;
  background: var(--right-color);
  border: 0;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.bookdetails{
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: var(--right-color);
  padding: 30px;
  overflow: auto;
  box-shadow: -2px -3px 5px var(--shadow-color);
  color: white;

}



















